$color-black: #000000;
$color-white: #ffffff;
$color-yellow-grey: #b8b7b0;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-dark-s: #cdcdcd;
$color-light-s: #fafafa;
$color-light-xl: #ffffff;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-light-l: #f6f6f6;
$color-dark-xl: #4c4c4c;
$color-dark-m: #b2b2b2;


$color-dark-light: #a3a3a3;
$color-primary: #e6a272;
$color-primary-system: #dd9059;
$color-primary-middle: #f5c19c;
$color-primary-light: #ffe0ca;
$fz-logo-title: 32px;
$lh-logo-title: 1.1em;
$ls-logo-title: 0.06em;
$fz-logo-subtitle: 13px;
$lh-logo-subtitle: 1.15em;
$ls-logo-subtitle: 0.1em;

$fz-header: 36px;
$lh-header: 1.3em;
$ls-header: 0.06em;
$fz-textarea: 24px;
$lh-textarea: 1.3em;
$ls-textarea: 0.06em;
$fz-text-about: 18px;
$lh-text-about: 1.3em;
$ls-text-about: 0.06em;
$fz-text-key: 16px;
$lh-text-key: 1.3em;
$ls-text-key: 0.06em;
$fz-text-key-hover: 20px;

%flex-row-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

%flex-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol,
li {
  list-style: none;
}

button,
button:active,
button:focus {
  outline: none;
  border: none;
}

.scroll-disabled {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}


body {
  @extend %flex-col-sb;
  color: $color-white;
  background-color: $color-dark-3xl;
  user-select: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 120px;

  .h1 {
    font-family: Merriweather;
    font-size: $fz-header;
    line-height: $lh-header;
    letter-spacing: $ls-header;
    font-style: bold;
    color: $color-primary-light;
    margin: 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textarea {
  font-family: Inter;
  font-size: $fz-textarea;
  line-height: $lh-textarea;
  letter-spacing: $ls-textarea;
  background: $color-white;
  box-shadow: 0 0 15px 4px rgba(255, 255, 230, 0.06);
  padding: 10px 10px;
  border-radius: 5px;

  text-indent: none;
  outline: none;
  word-break: break-all;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 700px;
  min-height: 106px;
  background-color: $color-dark-l;
  margin: 50px 0;
  padding: 10px;
  border: $color-primary-light 3px solid;
  border-radius: 5px;
}

.about {
  color: $color-light-s;
  font-family: Inter;
  font-size: $fz-text-about;
  line-height: $lh-text-about;
  letter-spacing: $ls-text-about;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.2%;
  width: 100%;
  height: 40px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6%;
  height: 100%;
  color: brown;
  background-color: $color-primary;
  border: $color-primary 2px solid;
  border-radius: 5px;

  font-size: $fz-text-key;
  font-weight: 700;

  &:hover {
    background-color: $color-primary-middle;
    box-shadow: 0 0 3px 3px $color-dark-xl;
    cursor: pointer;
  }

  &:active {
    font-weight: 700;
    font-size: $fz-text-key-hover;
    background-color: $color-primary-light;
    box-shadow: 0 0 3px 3px $color-dark-xl;
    border-radius: 2px;
    transition: 0.05s;
  }

  &.active {
    font-weight: 700;
    font-size: $fz-text-key-hover;
    background-color: $color-primary-light;
    box-shadow: 0 0 3px 3px $color-dark-xl;
    border-radius: 2px;
    transition: 0.05s;
  }
  transition: 1s;
}


.Backspace,
.CapsLock,
.ShiftLeft {
  width: 16%;
  background-color: $color-primary-system;
  border: $color-primary 2px solid;
}

.Tab {
  width: 8%;
  background-color: $color-primary-system;
  border: $color-primary 2px solid;
}

.Delete {
  width: 6.8%;
  background-color: $color-primary-system;
  border: $color-primary 2px solid;
}

.Enter,
.ShiftRight {
  width: 13%;
  background-color: $color-primary-system;
  border: $color-primary 2px solid;
}

.ShiftRight {
  width: 14.5%;
}

.Space {
  width: 50%;
  max-width: 50%;
  background-color: $color-primary-system;
  border: $color-primary 2px solid;
}

.ControlLeft,
.MetaLeft,
.AltLeft,
.AltRight,
.ControlRight,
.ArrowUp,
.ArrowLeft,
.ArrowDown,
.ArrowRight {
  width: 8%;
  background-color: $color-primary-system;
  border: $color-primary 2px solid;
}

.ArrowUp,
.ArrowLeft,
.ArrowDown,
.ArrowRight {
  width: 6%;
}

.enStandart,
.enCapsLock,
.enShift,
.enShiftCapsLock,
.ruStandart,
.ruCapsLock,
.ruShift,
.ruShiftCapsLock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.enStandart.hide {
  display: none;
}
.enCapsLock.hide {
  display: none;
}
.enShift.hide {
  display: none;
}
.enShiftCapsLock.hide {
  display: none;
}
.ruStandart.hide {
  display: none;
}
.ruCapsLock.hide {
  display: none;
}
.ruShift.hide {
  display: none;
}
.ruShiftCapsLock.hide {
  display: none;
}
.keyboard.active {
  background-color: red;
}

@media (min-width: 1024px) {
  .keyboard {
    gap: 12px;
    width: 1000px;
  }

  .row {
    height: 50px;
  }

  .key {
   font-size: 22px;
    &.active {  
      font-size: 24px;
    }
  }  
}

@media (max-width: 420px) {
  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .h1 {
    text-align: center;
    font-size: 20px;
    line-height: 1.1em; 
  }
  .textarea {
    font-size: 12px;
    line-height: 1.1em;
  }
  .about {
    color: $color-light-s;
    font-family: Inter;
    font-size: 12px;
    line-height: $lh-text-about;
    letter-spacing: $ls-text-about;
  }

  .keyboard {
    gap: 5px;
    width: 310px;
    padding: 5px;
  }

  .row {
    height: 20px;
  }

  .key {
   font-size: 8px;
    &.active {  
      font-size: 10px;
    }
  }  
}